.error {
  background: #d02e02;
  color: white;
  width: 380px;
  padding: 12px 20px;
  margin-bottom: 30px;
  border-radius: 12px;
  text-align: center;
  line-height: 170%;
  font-size: 17px;
  font-weight: lighter;
}
